<!DOCTYPE html>
<html>

<head>
    <title>Vue.js</title>
</head>

<body>
    <div id="app">
        <input type="text" name="name" placeholder="Introduce tu nombre" v-model="name">
        <p>Tu nombre en mayúscula es: {{ name | uppercase }}</p>
        <form>
            <h2> ¿Cuáles son tus cursos favoritos? </h2>
            <input v-model="cursos" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de Vue.js</label>

        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                name: ''
            },
            filters: {
                uppercase: function(str) {
                    return str.toUpperCase()
                }
            },
        })
    </script>
</body>

</html>